.main {
  width: 15%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: bisque;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.exitIcon {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 5%;
  top: 2%;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 0%;
}

.links button {
  background-color: bisque;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 1080px) {
  .links {
    margin-top: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    width: 17%;
  }
  .exitIcon {
    right: 30%;
    width: 25px;
    height: 25px;
  }
  .links {
    margin-top: 80%;
  }
  .links h2 {
    font-size: 10px;
  }
}
