.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(24, 24, 24);
  color: rgb(236, 233, 233);
  width: 60vw;
  height: 85vh;
  border-radius: 2px;
  padding-top: 4px;
}

.user {
  font-size: 25px;
  font-weight: 800;
}

.basic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileContainer {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: white;
  color: black;
  padding: 4px;
  margin-bottom: 2em;
  padding-right: 8px;
}

.innerProfileContainer {
  display: flex;
  align-items: center;
  margin: 0;
}

.profilePic {
  height: 75px;
  color: white;
  cursor: pointer;
}

.changeContainers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2em;
}

.changeContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  background-color: white;
  color: rgb(18, 17, 17);
  min-width: 16em;
  min-height: 4em;
  border-radius: 5px;
  padding: 0.5em;
}

.changeButton {
  background-color: aliceblue;
  font-size: 15px;
  font-weight: 600;
  height: 2em;
  margin: 4px;
  border: none;
}

@media only screen and (max-width: 700px) {
  .container {
    height: 65vh;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    min-height: 68vh;
  }
  .changeContainer {
    min-width: 12em;
  }
}

@media only screen and (max-width: 375px) {
  .changeContainer {
    min-width: 10em;
  }
}
