.main h1 {
  display: flex;
  justify-content: center;
}

.container {
  width: 280px;
  height: 1000px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 236, 240);
  border-radius: 3px;
  padding: 4px;
}

.container h1 {
  margin: 0;
  padding: 10px;
  border-bottom: solid;
  background-color: white;
}
